#message {
  display: none;
}
.logo{
  float: right;
}
.other b{font-size: 14px}
.loginErrorWrapper b{font-size: 14px}
.home{
  width: max-content;
  height: max-content
}
.home b{font-size: 16px}
.home-span {
  padding-top: 6px;
  font-size: 14px;
  font-weight: 500;
}
.round {
  border-radius: 1020px;
}
.label-success {
  background-color: #5cb85c;
}
.label-warning {
  background-color: #f0ad4e;
}
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  margin-right: 10px;
}
.label-danger {
  background-color: #d9534f;
}
.list-item{
  padding: 8px;
}
.anchor-tag{
  color: #08c;
  text-decoration: none;}
ul{
  list-style: none
}
.problemitems{
  padding-left: 5px;
}
strong{
  color: #FCC201;
}
