#message {
  display: none;
}
.logo {
  float: right;
}
.other b {
  font-size: 14px;
}
.loginErrorWrapper b {
  font-size: 14px;
}
.home {
  width: max-content;
  height: max-content;
}
.success {
  width: max-content;
  height: max-content;
}
.problems {
  width: max-content;
  height: max-content;
  max-width:179px ;
}
.home b {
  font-size: 16px;
}
.home-span {
  padding-top: 6px;
  font-size: 14px;
  font-weight: 500;
}
.round {
  border-radius: 1020px;
}
.label-success {
  background-color: #5cb85c;
}
.label-warning {
  background-color: #f0ad4e;
}
.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  margin-right: 10px;
}
.label-danger {
  background-color: #d9534f;
}
.list-item {
  padding: 8px;
}
.anchor-tag {
  color: #08c;
  text-decoration: none;
}
ul {
  list-style: none;
}
.problemitems {
  padding-left: 5px;
}
.problemNumber {
  font-weight: bold;
  font-size: 15px;
}
.problemLevel {
  padding-bottom: 12px;
}
strong {
  color: #fcc201;
}
.problemDescription strong {
  font-size: 16px;
}
.butt {
  border: 1px outset black;
  background-color: #fcc201;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.butt1 {
  border: 1px outset black;
  background-color: black;
  height: 40px;
  width: 40px;
  cursor: pointer;
  color: white;
}
.butt1:hover {
  background-color: #fcc201;
  color: black;
}
.butt:hover {
  background-color: black;
  color: white;
}
.buttonHeader {
  font-size: 14px;
  font-weight: 500;
}
.closeHeader {
  padding-top: 12px;
  font-size: 14px;
  font-weight: 500;
}
.pad {
  margin-top: 12px;
  margin-left: 65px;
}
.Heading {
  font-size: 16px;
}
